<div class="container-fluid p-0">
  <div class="row">
    <section class="p-3 bg-dark w-100">
      <ul class="d-flex gap-3 align-items-center m-0 ps-3" dir="rtl">
        <li>
          <a routerLink="/">
            <img ngSrc="assets/img/logo.png" alt="" height="48" width="100" class="rounded"/>
          </a>
        </li>
        <li>
          <a class="text-white text-decoration-none">
            خانه
          </a>
        </li>
        <li>
          <a class="text-white text-decoration-none">
            درباره ما
          </a>
        </li>
        <li>
          <a class="text-white text-decoration-none">
            تماس با ما
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
