<form dir="rtl" class="flex flex-col gap-3 p-3">
  <mat-form-field appearance="outline">
    <mat-label>نام سرور</mat-label>
    <input matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>اپلیکشن</mat-label>
    <mat-select>
      <mat-option>گزینه 1</mat-option>
      <mat-option>گزینه 2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>کشور</mat-label>
    <mat-select>
      <mat-option>گزینه 1</mat-option>
      <mat-option>گزینه 2</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="flex justify-between">
    <button mat-raised-button color="primary">ثبت</button>
    <button mat-raised-button color="accent" mat-dialog-close>انصراف</button>
  </div>
</form>
