<app-card>
  <div class="flex flex-col gap-3">
    <div class="flex justify-between">
      <h1>{{translate.instant('applicationList')}}</h1>
      <button mat-raised-button color="primary" (click)="showForm()">{{translate.instant('new')}}</button>
    </div>

    <form dir="rtl">
      <mat-form-field appearance="outline">
        <mat-label>{{translate.instant('search')}}...</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </form>

    <div class="overflow-auto">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" dir="rtl">

        <ng-container matColumnDef="en_app_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            {{translate.instant('englishName')}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.en_app_name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="per_app_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
            {{translate.instant('persianName')}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.per_app_name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="package_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            {{translate.instant('packageName')}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.package_name}} </td>
        </ng-container>

        <ng-container matColumnDef="api_key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            {{translate.instant('apiKey')}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.api_key}} </td>
        </ng-container>

        <ng-container matColumnDef="is_active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{translate.instant('status')}}
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle (change)="changeAppStatus(element,$event)"
                              [checked]="element.is_active"></mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="op">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            {{translate.instant('operation')}}
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-2">
              <app-icon [icon]="'edit'" matTooltip="{{translate.instant('edit')}}" class="cursor-pointer"
                        (click)="showForm(element)"></app-icon>
              <a [routerLink]="'/dashboard/applications/setting/'+element?.id" matTooltip="{{translate.instant('servers')}}">
                <app-icon icon="server"></app-icon>
              </a>
              <a class="cursor-pointer" (click)="viewUsers(element)" matTooltip="{{translate.instant('users')}}">
                <app-icon icon="users"></app-icon>
              </a>
              <a class="cursor-pointer" [routerLink]="'/dashboard/applications/config/'+element?.id"
                 matTooltip="{{translate.instant('config')}}">
                <app-icon icon="setting"></app-icon>
              </a>
              <a class="cursor-pointer" [routerLink]="'/dashboard/applications/version/'+element?.id"
                 matTooltip="{{translate.instant('versions')}}">
                <app-icon icon="versions"></app-icon>
              </a>
              <a class="cursor-pointer" [routerLink]="'/dashboard/applications/network/'+element?.id"
                 matTooltip="{{translate.instant('networks')}}">
                <app-icon icon="network"></app-icon>
              </a>
            </div>
          </td>
        </ng-container>

        <!--      <ng-container matColumnDef="op">-->
        <!--        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">-->
        <!--          عملیات-->
        <!--        </th>-->
        <!--        <td mat-cell *matCellDef="let element">-->
        <!--          <div class="flex gap-2">-->
        <!--            <app-icon [icon]="'details'" class="cursor-pointer" (click)="applicationDetails()"></app-icon>-->
        <!--            <app-icon [icon]="'setting'" class="cursor-pointer" routerLink="setting/1"></app-icon>-->
        <!--          </div>-->
        <!--        </td>-->
        <!--      </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" dir="rtl"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</app-card>
