<app-card>
  <div class="flex flex-col gap-3">
    <div class="flex justify-between">
      <h1>لیست اپلیکیشن ها</h1>
      <button mat-raised-button color="primary" (click)="showForm()">جدید</button>
    </div>

    <form dir="rtl">
      <mat-form-field appearance="outline">
        <mat-label>جستجو...</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </form>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" dir="rtl">

      <ng-container matColumnDef="en_app_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          نام انگلیسی
        </th>
        <td mat-cell *matCellDef="let element"> {{element.en_app_name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="per_app_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
          نام فارسی
        </th>
        <td mat-cell *matCellDef="let element"> {{element.per_app_name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="package_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          نام پکیج
        </th>
        <td mat-cell *matCellDef="let element"> {{element.package_name}} </td>
      </ng-container>

      <ng-container matColumnDef="api_key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          Api Key
        </th>
        <td mat-cell *matCellDef="let element"> {{element.api_key}} </td>
      </ng-container>

      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          وضعیت
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle (change)="changeAppStatus(element,$event)" [checked]="element.is_active"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="op">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          عملیات
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-2">
            <app-icon [icon]="'edit'" matTooltip="ویرایش" class="cursor-pointer" (click)="showForm(element)"></app-icon>
            <a [routerLink]="'setting/'+element?.id" matTooltip="سرورها">
              <app-icon icon="server"></app-icon>
            </a>
            <a class="cursor-pointer" (click)="viewUsers(element)" matTooltip="کاربران">
              <app-icon icon="users"></app-icon>
            </a>
            <a class="cursor-pointer" [routerLink]="'config/'+element?.id" matTooltip="پیکربندی">
              <app-icon icon="setting"></app-icon>
            </a>
            <a class="cursor-pointer" [routerLink]="'version/'+element?.id" matTooltip="ورژن ها">
              <app-icon icon="versions"></app-icon>
            </a>
            <a class="cursor-pointer" [routerLink]="'network/'+element?.id" matTooltip="شبکه ها">
              <app-icon icon="network"></app-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <!--      <ng-container matColumnDef="op">-->
      <!--        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">-->
      <!--          عملیات-->
      <!--        </th>-->
      <!--        <td mat-cell *matCellDef="let element">-->
      <!--          <div class="flex gap-2">-->
      <!--            <app-icon [icon]="'details'" class="cursor-pointer" (click)="applicationDetails()"></app-icon>-->
      <!--            <app-icon [icon]="'setting'" class="cursor-pointer" routerLink="setting/1"></app-icon>-->
      <!--          </div>-->
      <!--        </td>-->
      <!--      </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" dir="rtl"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</app-card>
