#sidebar{
  border-left: 3px dashed #fff;
}
#sideHeader {
  #userInfo {
    #avatar {
      border: 5px solid #fff;
    }
  }
}

ul{
  li{
    transition: all 500ms;
    &.active,&:hover{
      background: #303d6c;
    }
  }
}
