#sideHeader {
  background: #fd746c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  #userInfo {
    transform: translateY(80px);

    img {
      border: 5px solid #fff;
    }
  }
}

ul{
  li{
    transition: all 500ms;
    &.active,&:hover{
      background: #303d6c;
    }
  }
}
