<app-card>
  <section class="flex flex-col gap-3">
    <h1 class="border-b pb-2">مدیریت پروفایل های سرور</h1>
    <mat-tab-group>
      <mat-tab label="لیست پروفایل ها">
        <div class="p-5">
          <form class="mb-3" dir="rtl">
            <mat-form-field appearance="outline">
              <mat-label>جستجو...</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
          </form>

          <table mat-table [dataSource]="dataSource" matSort
                 class="mat-elevation-z8 mb-5" dir="rtl">

            <!-- Position Column -->
            <ng-container matColumnDef="row">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                ردیف
              </th>
              <td mat-cell *matCellDef="let element"> 1 </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                نام
              </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="protocol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                پروتکل
              </th>
              <td mat-cell *matCellDef="let element"> {{element.protocol}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="operator">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                اپراتور
              </th>
              <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
            </ng-container>

            <ng-container matColumnDef="op">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                عملیات
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="flex gap-2">
                  <app-icon [icon]="'delete'" class="cursor-pointer"></app-icon>
                  <app-icon [icon]="'details'" class="cursor-pointer"></app-icon>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" dir="rtl"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="ثبت گروهی پروفایل ها">
        <div class="flex flex-col gap-3 p-5 justify-center items-center">
          <div class="success-alert" role="alert">
            برای ثبت گروهی ابتدا فایل نمونه را دانلود کرده و از طریق نرم افزار اکسل باز کنید سپس در هر سطر کانفیگ و اطلاعات مورد نظر را وارد کرده سپس میتوانید با کلیک روی دکمه ثبت پروفایل ، فایل مورد نظر خود را اپلود کنید.
          </div>

          <div>
            <button mat-raised-button color="primary">اپلود پروفایل ها</button>
          </div>
          <a href="#" class="text-blue-600">دانلود نمونه پروفایل CSV</a>
        </div>
      </mat-tab>
      <mat-tab label="ثبت پروفایل جدید">
        <form dir="rtl" class="flex flex-col gap-3 p-5">
          <div class="grid grid-cols-3 gap-3">
            <mat-form-field appearance="outline">
              <mat-label> نام</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> پروتکل</mat-label>
              <mat-select>
                <mat-option>گزینه 1</mat-option>
                <mat-option>گزینه 2</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> اپراتور</mat-label>
              <mat-select>
                <mat-option>گزینه 1</mat-option>
                <mat-option>گزینه 2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>آدرس</mat-label>
            <input matInput/>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary">ثبت پروفایل</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </section>
</app-card>
