<app-card>
  <section class="p-5">
    <h1 class="font-bold text-[18px]">{{translate.instant('editPassword')}}</h1>

    <form [dir]="direction" class="flex flex-col gap-3 w-[400px] mx-auto" [formGroup]="form" (ngSubmit)="submitForm()">
      <div>
        <img src="/assets/img/security.avif" alt="" class="mx-auto" width="150"/>
      </div>

      <mat-form-field appearance="outline" class="relative">
        <mat-label>{{translate.instant('currentPassword')}}</mat-label>
        <input matInput dir="ltr" class="!pl-6" [type]="currentPassword" formControlName="current_password">
        <app-icon [icon]="'showPassword'" (click)="switchCurrentPassword(currentPassword)" class="absolute top-[16px]" [ngClass]="direction==='rtl'?'left-0':'right-0'"></app-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="relative">
        <mat-label>{{translate.instant('newPassword')}}</mat-label>
        <input dir="ltr" class="!pl-6" matInput [type]="passwordType" formControlName="new_password">
        <app-icon [icon]="'showPassword'" (click)="switchPasswordType(passwordType)"  class="absolute top-[16px]" [ngClass]="direction==='rtl'?'left-0':'right-0'"></app-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="relative">
        <mat-label>{{translate.instant('confirmPassword')}}</mat-label>
        <input dir="ltr" class="!pl-6" matInput [type]="confirmPasswordType" formControlName="confirm_new_password">
        <app-icon [icon]="'showPassword'" (click)="switchConfirmPasswordType(confirmPasswordType)"  class="absolute top-[16px]" [ngClass]="direction==='rtl'?'left-0':'right-0'"></app-icon>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">{{translate.instant('update')}}</button>
      </div>
    </form>
  </section>
</app-card>
