<form class="p-5 flex flex-col gap-3" [formGroup]="form" (ngSubmit)="submitForm()" [dir]="direction">
  <mat-form-field appearance="outline">
    <mat-label>version_code</mat-label>
    <input matInput formControlName="version_code">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>version_name</mat-label>
    <input matInput formControlName="version_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>download_url</mat-label>
    <input matInput formControlName="download_url">
  </mat-form-field>

  <mat-slide-toggle [checked]="false" formControlName="is_force_update">
    {{translate.instant('forceUpdate')}}
  </mat-slide-toggle>
  <mat-slide-toggle [checked]="false" formControlName="is_initial_version">
    {{translate.instant('initialVersion')}}
  </mat-slide-toggle>
  <mat-slide-toggle [checked]="false" formControlName="is_play_store_download">
    {{translate.instant('downloadPlayStore')}}
  </mat-slide-toggle>
  <mat-slide-toggle [checked]="false" formControlName="is_active">
    {{translate.instant('status')}}
  </mat-slide-toggle>


  <div class="flex justify-between">
    <button mat-raised-button color="primary">{{translate.instant('register')}}</button>
    <button type="button" mat-raised-button color="accent" mat-dialog-close>{{translate.instant('close')}}</button>
  </div>
</form>
