<form class="p-5 flex flex-col gap-3" [formGroup]="form" (ngSubmit)="submitForm()" dir="rtl">
  <mat-form-field appearance="outline">
    <mat-label>version_code</mat-label>
    <input matInput formControlName="version_code">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>version_name</mat-label>
    <input matInput formControlName="version_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>download_url</mat-label>
    <input matInput formControlName="download_url">
  </mat-form-field>

  <mat-slide-toggle [checked]="false" formControlName="is_force_update">
    فورس اپدیت
  </mat-slide-toggle>
  <mat-slide-toggle [checked]="false" formControlName="is_initial_version">
    نسخه init
  </mat-slide-toggle>
  <mat-slide-toggle [checked]="false" formControlName="is_play_store_download">
    دانلود پلی استور
  </mat-slide-toggle>
  <mat-slide-toggle [checked]="false" formControlName="is_active">
    وضعیت
  </mat-slide-toggle>


  <div class="flex justify-between">
    <button mat-raised-button color="primary">ثبت</button>
    <button type="button" mat-raised-button color="accent" mat-dialog-close>بستن</button>
  </div>
</form>
