<section class="flex flex-col gap-3 p-5" dir="rtl">
  <ul class="flex flex-col gap-3 p-5">
    <li class="flex gap-3 border-b pb-2">
      <p class="font-bold">کشور:</p>
      <p>کانادا</p>
    </li>

    <li class="flex gap-3 border-b pb-2">
      <p class="font-bold">نام کاربری:</p>
      <p>a.darrere</p>
    </li>

    <li class="flex gap-3 border-b pb-2">
      <p class="font-bold">رمز عبور:</p>
      <p>21321321321</p>
    </li>

    <li class="flex gap-3 border-b pb-2">
      <p class="font-bold">پروایدر:</p>
      <p>تست</p>
    </li>
  </ul>

  <button mat-raised-button color="accent" mat-dialog-close>بستن جزئیات</button>
</section>
