<section class="flex flex-col gap-3 p-5" dir="rtl">
  <button mat-raised-button color="primary" (click)="showForm=true" *ngIf="!showForm">افزودن کاربر به اپلیکیشن</button>

  <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="showForm">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>انتخاب کاربر</mat-label>
      <mat-select formControlName="user_id">
        <mat-option *ngFor="let item of users" [value]="item?.id">{{item?.first_name+' '+item?.last_name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="mt-3">ثبت</button>
  </form>

  <table class="table w-full">
    <thead>
    <tr>
      <th>نام کاربری</th>
      <th>ایمیل</th>
      <th>نام</th>
      <th>نام خانوادگی</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data.users">
      <td>
        <p>{{item?.username}}</p>
      </td>
      <td>
        <p>{{item?.email}}</p>
      </td>
      <td>
        <p>{{item?.first_name}}</p>
      </td>
      <td>
        <p>{{item?.last_name}}</p>
      </td>
    </tr>
    </tbody>
  </table>

  <button mat-raised-button color="accent" mat-dialog-close>بستن</button>
</section>
