<app-card>
  <section class="flex flex-col gap-3">
    <h1 class="border-b pb-2">تنظیمات اپلیکیشن</h1>
    <mat-tab-group>
      <mat-tab label="سرورها">
        <app-server></app-server>
      </mat-tab>

      <mat-tab label="گروه سرورها">
        <app-server-group></app-server-group>
      </mat-tab>

<!--      <mat-tab label="تنظیمات اپلیکیشن">-->
<!--        <app-app-setting></app-app-setting>-->
<!--      </mat-tab>-->

<!--      <mat-tab label="تنظیمات ادموب">-->
<!--        <app-admob-setting></app-admob-setting>-->
<!--      </mat-tab>-->

<!--      <mat-tab label="بلاک لیست">-->
<!--        <app-black-list></app-black-list>-->
<!--      </mat-tab>-->
    </mat-tab-group>
  </section>

</app-card>
