<app-card>
  <section class="p-5">
    <h1 class="font-bold text-[18px]">ویرایش اطلاعات</h1>

    <form dir="rtl" class="flex flex-col gap-3" [formGroup]="form" (ngSubmit)="submitForm()">
      <div>
        <img src="/assets/img/avatar.jpg" alt="" class="mx-auto rounded-full avatar"/>
      </div>
      <h2 class="text-center">مدیر سایت</h2>

      <mat-form-field appearance="outline">
        <mat-label>نام کاربری</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ایمیل</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>نام</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>نام خانوادگی</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>تلفن همراه</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>آدرس</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>درباره من</mat-label>
        <input matInput>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">بروزرسانی</button>
      </div>
    </form>
  </section>
</app-card>
