<section class="flex flex-col gap-3 p-5" dir="rtl">
  <div class="danger-alert">
    در صورت خاموش بودن گزینه نمایش تبلیغات ادموب هیچ تبلیغاتی از گوگل در اپلیکیشن نمایش داده نمی‌شود.
  </div>

  <mat-slide-toggle>نمایش تبلیغات ادموب</mat-slide-toggle>

  <mat-form-field appearance="outline">
    <mat-label>Application ID</mat-label>
    <input matInput>
  </mat-form-field>
  <hr/>

  <div class="grid grid-cols-3 gap-3 items-center" dir="rtl">
    <mat-slide-toggle></mat-slide-toggle>

    <mat-form-field appearance="outline">
      <mat-label>Interval (sec)</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Interstitial Connect</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-3 gap-3 items-center" dir="rtl">
    <mat-slide-toggle></mat-slide-toggle>

    <mat-form-field appearance="outline">
      <mat-label>Interval (sec)</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Interstitial Disconnect</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="grid grid-cols-3 gap-3 items-center" dir="rtl">
    <mat-slide-toggle></mat-slide-toggle>

    <mat-form-field appearance="outline">
      <mat-label>Interval (sec)</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Application Open</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <mat-slide-toggle>GDPR Active</mat-slide-toggle>

  <div>
    <button mat-raised-button color="primary">ثبت تنظیمات</button>
  </div>
</section>
