<form class="p-5 flex flex-col gap-3" [formGroup]="form" (ngSubmit)="submitForm()" [dir]="direction">
  <mat-form-field appearance="outline" *ngIf="formStatus==='add'">
    <mat-label>{{translate.instant('username')}}</mat-label>
    <input matInput formControlName="username" (keyup)="onKeyUp($event)" dir="ltr">
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="formStatus==='add'">
    <mat-label>{{translate.instant('email')}}</mat-label>
    <input matInput formControlName="email" (keyup)="onKeyUpEmail($event)" dir="ltr">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{translate.instant('name')}}</mat-label>
    <input matInput formControlName="first_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{translate.instant('lastName')}}</mat-label>
    <input matInput formControlName="last_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{translate.instant('permission')}}</mat-label>
    <mat-select formControlName="roles" multiple>
      <mat-option value="user">{{translate.instant('user')}}</mat-option>
      <mat-option value="admin">{{translate.instant('admin')}}</mat-option>
      <mat-option value="super_admin">{{translate.instant('superAdmin')}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="relative" *ngIf="formStatus==='add'">
    <mat-label>{{translate.instant('password')}}</mat-label>
    <input matInput [type]="passwordType" formControlName="password">
    <app-icon [icon]="'showPassword'" (click)="switchPasswordType(passwordType)" class="absolute top-[16px]" [ngClass]="direction==='rtl'?'left-0':'right-0'"></app-icon>
  </mat-form-field>

  <div class="flex justify-between">
    <button mat-raised-button color="primary">{{translate.instant('save')}}</button>
    <button type="button" mat-raised-button color="accent" mat-dialog-close>{{translate.instant('close')}}</button>
  </div>
</form>
