<form class="p-5 flex flex-col gap-3" [formGroup]="form" (ngSubmit)="submitForm()" dir="rtl">
  <mat-form-field appearance="outline" *ngIf="formStatus==='add'">
    <mat-label>انتخاب کاربر</mat-label>
    <mat-select formControlName="user_id">
      <mat-option *ngFor="let item of users" [value]="item?.id">{{item?.first_name+' '+item?.last_name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>نام انگلیسی</mat-label>
    <input matInput formControlName="en_app_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>نام فارسی</mat-label>
    <input matInput formControlName="per_app_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>نام پکیج</mat-label>
    <input matInput formControlName="package_name" [readonly]="data?.id" [disabled]="data?.id" [ngClass]="data?.id?'pointer-events-none opacity-50':''">
  </mat-form-field>

   <mat-form-field appearance="outline">
    <mat-label>کانال تلگرام</mat-label>
    <input matInput formControlName="telegram_channel">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>کانال یوتیوب</mat-label>
    <input matInput formControlName="youtube_channel">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>لینک امنیتی</mat-label>
    <input matInput formControlName="privacy_url">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>لینک گوگل پلی</mat-label>
    <input matInput formControlName="google_play_url">
  </mat-form-field>

  <div class="flex justify-between">
    <button mat-raised-button color="primary">ثبت</button>
    <button type="button" mat-raised-button color="accent" mat-dialog-close>بستن</button>
  </div>
</form>
